{% extends 'base.html.twig' %}
{% block title %}Setting{% endblock %}
{% block body %}
    <form action="" method="post">
        <input type="date" name="date_naissance" max="<?= date('Y-m-d') ?>">
        <input type="date" name="date_majeur" max="<?= date('Y-m-d', strtotime('-18 years')) ?>">
        <input type="submit" value="Envoyer">
    </form>
{% endblock %}
