{% extends 'base.html.twig' %}

{% block title %}Contributions{% endblock %}

{% block body %}
    <div class="w-auto h-auto overflow-scroll m-4">
        <p class="fw-semibold fs-4 ">Client Contributions</p>
        <div class="table-responsive-md">
            <table border="2px" class="table table-striped table-sm border-1 border-dark rounded-3">
                <thead>
                <tr class="text-center text-capitalize">
                    <th scope="col">Contributor</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                {% for contribution in contributions %}
                    <tr class="text-center fw-semibold">
                        <td>{{ contribution.contributor}}</td>
                        <td>{{ contribution.amount }}</td>
                        <td>{{ contribution.makedAt }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
